.form-hotel-options {
  position: relative;
  display: flex;
  font-size: 0.75rem;
  height: 25rem;
}

.form-accommodation,
.form-breakfast,
.form-half,
.form-all,
.form-unlimited {
  @include elements(1px solid $c-fourth, 22rem, 0.3rem);
  &:hover {
    @include button-over()
  }
}

h3 {
  color: $c-third;
  font-size: 0.75rem;
  font-weight: $bold;
  text-align: center;
}

hr {
  width: 50%;
  background-color: $c-fourth;
}

ul {
  height: 298px;
}

li {
  margin-right: 1rem;
  font-weight: 500;
  color: $c-fifth;
  text-align: left;
}

.form-button {
  @include buttons(
    2px solid $c-fourth,
    1%,
    center,
    7rem,
    auto
  ); //los % son el alto, ancho y padding ya que no estaba centrado
  &:hover {
    @include button-over()
  }
}
