.title {
  display: inline-flex;
  justify-content: center;
  
h1 {
    color: $c-third;
    font-size: 20px;
    width: 400px;
    margin-top: 7%;
  }
img {
    width: 9%;
    height: 37%;
    margin-top: 6%;

}
}
@mixin list ($position, $display, $fontSz, $h){
  position: $position;
  display: $display;
  font-size: $fontSz;
  height: $h;
}
.boxes{
   @include list(relative, flex, 12px, 350px ) 
}
    button{
      margin-left: 10px;
    } 
    .boxes__regimen-accommodation, .boxes__regimen-half {
      button {
        margin-top: 180px
      }
    }
    .boxes__regimen-breakfast{
      button{
        margin-top: 195px
      }
    }
    .boxes__regimen-all-inclusive{
      button{
        margin-top: 80px
      }
    }
    .boxes__regimen-unlimited{
      button{
        margin-bottom: 30px;
      }
    }
    .boxes__regimen-unlimited__lista{
      margin-top: -9px;
    }
.boxes__regimen-accommodation, .boxes__regimen-breakfast, .boxes__regimen-half, .boxes__regimen-all-inclusive, .boxes__regimen-unlimited{
  border: 1px solid $c-fourth;
  width: 350px;
  margin: 5px;
  color:$c-secondary;
    h3{
    color: $c-third;
    font-size: 11px;
    margin: 15% 15% 5% 15%;
      }
      li{
        color: #516079;
        margin-right:15px;
        font-weight: 500;
      }
    
}
