* {
  font-size: 100%;
}

.title-tab1 {
  display: inline-flex;
  justify-content: center;

  h1 {
    color: $c-third;
    font-size: 1rem;
    margin-top: 5%;
  }
  img {
    width: 9%;
    height: 37%;
    margin-top: 2%;
    padding: 0.75rem;
  }
}
