* {
  font-size: 100%;
}

.titleTab1 {
  display: inline-flex;
  justify-content: center;

  h1 {
    color: $c-third;
    font-size: 1rem;
    margin-top: 5%;
  }
  img {
    width: 9%;
    height: 37%;
    margin-top: 2%;
    padding: 0.75rem;
  }
}

.boxes {
  position: relative;
  display: flex;
  font-size: 0.75rem;
  height: 22rem;

  &__accommodation {
    button {
      @include click(2px solid $c-fourth, 12.5rem, 7.5rem, 1.56rem, 0.37rem);
    }
  }

  &__breakfast {
    button {
      @include click(2px solid $c-fourth, 11.68rem, 7.5rem, 1.56rem, 0.37rem);
    }
  }
  &__half {
    button {
      @include click(2px solid $c-fourth, 11.6rem, 120px, 1.56rem, 0.37rem);
    }
  }
  &__all {
    button {
      @include click(2px solid $c-fourth, 5.5rem, 7.5rem, 1.56rem, 0.5rem);
    }
  }
  &__unlimited {
    button {
      @include click(2px solid $c-fourth, -6px, 7.5rem, 1.56rem, 1.25rem);
    }
  }
  &__unlimited__lista {
    margin-top: -7px;
  }
}

.boxes__accommodation,
.boxes__breakfast,
.boxes__half,
.boxes__all,
.boxes__unlimited {
  @include elements(1px solid $c-fourth, 22rem, 5px, $c-secondary);

  h3 {
    color: $c-third;
    font-size: 0.75rem;
    margin: 15% 15% 15px 15%;
    font-weight: $bold;
  }
  li {
    margin-right: 1rem;
    font-weight: 500;
  }
}
