//Mixin _boxTab-1

  @mixin elements($b, $w, $m) {
    border: $b;
    width: $w;
    margin: $m;
  }

  @mixin buttons ($b,$mr,$ml,$pb){
  border: $b;
  margin-right: $mr;
  margin-left: $ml;
  padding-bottom: $pb;
  }

  